body {
  min-height: 100vh;
  overflow: hidden;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.line {
  margin-bottom: 50px;
  text-align: center;
  font-family: blonde;
  color: white;
  font-size: 40px;
  line-height: 3.8rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 35px;
}
.ctrl {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  min-width: 70px;
  border-radius: 40px 40px 40px 40px;
  margin: auto;
}
.p {
  font-family: blonde;
  font-size: 30px;
  color: white;
}
.song {
  text-align: center;
  font-family: boytoy;
  color: white;
  font-size: 40px;
}

.blondedWrapper {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  width: 100px;
  height: 100px;
}

@media (max-width: 768px) {
  .line {
    font-size: 30px;
  }
  .song {
    font-size: 30px;
  }
  .blondedWrapper {
    width: 30px;
    height: 45px;
  }
}
