

.ctrl {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  min-width: 70px;
  border-radius: 40px 40px 40px 40px;
  margin: auto;
}
.p {
  font-family: blonde;
  font-size: 30px;
  color: rgb(251, 238, 238);
}

.blondedWrapper {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  margin: 20px auto;
}

@media screen and (max-width:600px) {
  .blondedWrapper img{
    width: 200px;
    height: 200px;
  }
}
