body {
  min-height: 100vh;
  overflow: hidden;
}
.container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.line {
  margin: 96;
  text-align: center;
  font-family: blonde;
  color: white;
  font-size: 50px;
}

.song {
  text-align: center;
  font-family: boytoy;
  color: white;
  font-size: 40px;
}

.blondedWrapper {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  width: 100px;
  height: 100px;
}

@media (max-width: 768px) {
  .container {
    min-height: 80vh;
  }
  .line {
    font-size: 30px;
  }
  .song {
    font-size: 20px;
  }
  .blondedWrapper {
    width: 30px;
    height: 45px;
  }
}
